In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

In [7]:
df=pd.read_csv("Customer+OrderForm.csv")

In [8]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [9]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [10]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [13]:
# Phillippines 
x1 = 0
y1 = 0
for i in df['Phillippines']:
    if i == 'Error Free':
        x1=x1+1
    else:
        y1=y1+1
# Indonesia
x2 = 0
y2 = 0
for i in df['Indonesia']:
    if i == 'Error Free':
        x2=x2+1
    else:
        y2=y2+1
# Malta
x3 = 0
y3 = 0
for i in df['Malta']:
    if i == 'Error Free':
        x3=x3+1
    else:
        y3=y3+1
# India
x4 = 0
y4 = 0
for i in df['India']:
    if i == 'Error Free':
        x4=x4+1
    else:
        y4=y4+1

In [15]:
data={'Error Free': [x1,x2,x3,x4],
      'Defective': [y1,y2,y3,y4]}

df=pd.DataFrame(data, columns=['Error Free','Defective'], index=['Phillippines','Indonesia','Malta','India'])

In [16]:
stat,p,dof,expected1=chi2_contingency(df)
print(p)

0.2771020991233144